<img class=".img" style="width: 100px; border-radius: 10px;" src={{cartItem.url}} alt={{cartItem.name}}>
<div class="cart-item-details">
    <label for="name">{{cartItem.name}}</label>
    <br>
    <label for="price">${{cartItem.price}}</label>
    <br>
    <label for="amount">Amount:</label>
    <input class="number-input" type="number" id="amount" name="amount" step="1" min="1" (ngModelChange)="amountChanged(cartItem,$event)"   [(ngModel)]="cartItem.amount" >
    <button (click)="removeFromCart(cartItem)" class="btn btn-primary"> remove rom your cart</button>
</div>