<div class="cart-panel">
  
        <form (ngSubmit)="clear()" style="margin-left:400px; position: fixed;" #form1="ngForm">
            <p>Full Name</p>
            <input  type="text" placeholder="minimum 3 charachter" required minlength="3" name="fullName" (ngModel)="fullName">
            <br><br>
            <p>Address</p>
            <input  type="text" placeholder="minimum 6 charachter" required minlength="6" (ngModel)="address">
            <br><br>
            <p >Credit Card Number</p>
            <input  type="text" placeholder="16-digit Number" required minlength="16"  (ngModel)="credit">
            <br><br>
            <input type="submit" value="submit" class="btn btn-primary"  [disabled]="form1.invalid"> 
        </form>
        <app-cart-item class="cart-item" *ngFor="let item of cartItems; " [cartItem]="item" [amount]="item.amount" (totalEmit)="newTotal($event)">
        </app-cart-item>
        <p>Total: $ {{total}}</p>
    </div>

        
